body {
    background-color: rgb(134, 0, 0);
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.img {
    border: 2px solid whitesmoke;
    align-self: center;
}